{% extends "@Planilla/login_layout.html.twig" %}
{% block content %}    
    {% if is_granted('ROLE_USER') %}
        <strong>
            Estas logueado como usuario normal
        </strong>
    {% endif %}
    
    {% if is_granted('ROLE_ADMIN') %}
        <strong>
            Estas logueado como usuario ADMINISTRADOR TODOPODEROSO
        </strong>
    {% endif %}
    <div class="col-auto">
        <form action="{{ path("login") }}" class="form-signin" method="post">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <input type="hidden" name="_target_path" value="/" />
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
    </div>
{% endblock %}